language: go
go:
- 1.7
- 1.8
- 1.9
- tip

matrix:
  allow_failures:
  - go: tip

services:
- mysql
- postgres
- sqlite3

addons:
  apt:
    sources:
    - sourceline: 'ppa:crate/stable'
    packages:
    - crate

env:
  global:
  - secure: RriLxF6+2yMl67hdVv8ImXlu0h62mhcpqjaOgYNU+IEbUQ7hx96CKY6gkpYubW3BgApvF5RH6j3+HKvh2kGp0XhDOYOQCODfBSaSipZ5Aa5RKjsEYLtuVIobvJ80awR9hUeql69+WXs0/s72WThG0qTbOUY4pqHWfteeY235hWM=

before_install:
- mysql -e "CREATE DATABASE gorptest;"
- mysql -u root -e "GRANT ALL ON gorptest.* TO gorptest@localhost IDENTIFIED BY 'gorptest'"
- psql -c "CREATE DATABASE gorptest;" -U postgres
- psql -c "CREATE USER "gorptest" WITH SUPERUSER PASSWORD 'gorptest';" -U postgres

install:
- go get -t

script: ./test_all.sh
